<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .el-header, .el-footer {
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }
        
        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            line-height: 1000px;
        }
        
        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
            line-height: 160px;
        }
        body > .el-container {
            margin-bottom: 40px;
        }
        </style>
    </head>
    <body>
    <div id="app">
        <el-header>抽卡模擬</el-header>
        <el-container>
            <el-aside width="100px">Aside</el-aside>
            <el-container>
                <el-main>
                    抽卡<br>
                    <el-button plain @click="openNotify">周杰倫失去了一切...</el-button>
                    <el-button @click="GetOneCard() ; visible = true ; tenTries = false">抽</el-button>
                    <el-button @click="GetTenCard() ; visible = true ; tenTries = true">十連抽</el-button>
                    <el-dialog v-if='tenTries == false' :visible.sync="visible" title="結果">
                        <el-main>
                            <p>{{card}}</p>
                            <p>{{judgeRarity(card)}}</p>
                        </el-main>
                        <el-button @click="GetOneCard() ; visible = true ; tenTries = false">再抽</el-button>
                    </el-dialog>
                    <el-dialog v-if="tenTries == true" :visible.sync="visible" title="結果">
                        <el-container>
                            <el-main v-for='eachCard in TenCard'>
                                {{eachCard}}
                                <p>{{judgeRarity(eachCard)}}</p>
                            </el-main>
                        </el-container>
                        <el-button @click= "GetTenCard() ; visible = true ; tenTries = true">再十連抽</el-button>
                    </el-dialog>

                </el-main>
            </el-container>
        </el-container>
        <el-footer>Footer</el-footer>
        
    </div>
    </body>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: function() {
                return {
                    visible: false,
                    tenTries: true,
                    card: 100,
                    TenCard: [100,100,100,100,100,100,100,100,100,100],
                }
            },
            methods: {
                createRandom() {  
                     return Math.floor(Math.random() * 1000 + 1);
                },
                judgeRarity(odds){
                    if (odds >=970)
                        return '四星';
                    else if (odds >=915)
                        return '三星';
                    else
                        return '二星';
                },
                GetOneCard(){
                    this.card = this.createRandom();
                    console.log(this.card);
                },
                GetTenCard(){
                    let newArr = [];
                    for(let i=0;i<10;i++)
                        newArr.push(this.createRandom());
                    console.log(newArr);
                    this.TenCard = newArr;
                },
                openNotify() {
                    this.$notify({
                        title: '突發新聞',
                        message: '周杰倫失去了一切...',
                        duration: 0
                    });
                },
            },

        })
    </script>
</html>